
.input-group.input-group-outline.input-group-icon.input-group-outline-dark-tint {
    .input-group-prepend,
    .input-group-append{
        .input-group-text .material-icons{
            color: $textfield-color-dark-tint;
        }
    }

    .textfield.textfield-outline .textfield-outline-wrapper .textfield-label-wrapper {
        .textfield-outline-left,
        .textfield-outline-middle,
        .textfield-outline-right {
            border-top: $textfield-border-dark-tint;
            border-bottom: $textfield-border-dark-tint;
        }
        .textfield-outline-left {
            border-left: $textfield-border-dark-tint;
        }
        .textfield-outline-right {
            border-right: $textfield-border-dark-tint;
        }
        label {
            color: $textfield-color-dark-tint;
        }
    }

    .textfield.textfield-outline .form-control {
        color: $textfield-input-color-dark-tint;
    }

    .textfield.textfield-floating-label{
        &.textfield-floating-label-active {
            .textfield-outline-wrapper .textfield-label-wrapper {
                .textfield-outline-left,
                .textfield-outline-middle,
                .textfield-outline-right {
                    border-top: $textfield-active-border-color-dark-tint;
                    border-bottom: $textfield-active-border-color-dark-tint;
                }
                .textfield-outline-left {
                    border-left: $textfield-active-border-color-dark-tint;
                }
                .textfield-outline-right {
                    border-right: $textfield-active-border-color-dark-tint;
                }
            }
            label {
                color: $textfield-active-color-dark-tint !important;
                font-weight: $font-weight-bold;
            }
        }
    
        &.textfield-floating-label-completed {
            .textfield-outline-wrapper .textfield-label-wrapper .textfield-outline-middle {
                border-top: none !important;
            }
            label {
                background-color: transparent;
                color: $textfield-completed-color-dark-tint;
            }
        }
    }
}
