// color Exstra dark-tint
$dark-tint: #393939 !default;
$dark-tint-100: tint-color($dark-tint, 10%) !default;
$dark-tint-200: tint-color($dark-tint, 20%) !default;
$dark-tint-400: tint-color($dark-tint, 40%) !default;
$dark-tint-600: tint-color($dark-tint, 60%) !default;
$dark-tint-800: tint-color($dark-tint, 80%) !default;
$dark-tint-900: tint-color($dark-tint, 100%) !default;

$dark-tints: () !default;
$dark-tints: map-merge(
	(
		"0": $dark-tint,
		"1": $dark-tint-100,
		"2": $dark-tint-200,
		"3": $dark-tint-400,
		"4": $dark-tint-600,
		"5": $dark-tint-800,
		"6": $dark-tint-900,
	),
	$dark-tints
);

// Dark Tint Theme Color .input-group-outline-dark-tint
$textfield-border-dark-tint: 1px solid dark-tint(4);
$background-color-dark-tint: dark-tint(1);
$textfield-color-dark-tint: dark-tint(4);
$textfield-input-color-dark-tint: dark-tint(5);
$textfield-active-color-dark-tint: theme-color("info");
$textfield-active-border-color-dark-tint: 1px solid $textfield-active-color-dark-tint;
$textfield-completed-color-dark-tint: dark-tint(4);