@use "sass:meta";
@use "sass:list";
@use "sass:map";

// Border
@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin borders($width, $style, $color) {
  border: $width $style $color;
}

@mixin borderset($size,$colour, $direction:"") {
	@if $direction != "" {
    	border-#{$direction}: $size solid $colour;
	} @else {
		border: $size solid $colour;
	}
}

@mixin border-unset(){
	border-radius: 0;
	border-right: 0;
	border-top: 0;
	border-left: 0;	
}