.header-breadcrumb{
	&.no-header{
		.breadcrumb{
			background-color: $white;
			@include BoxShadow(1);
			.breadcrumb-item{
				display: flex;
				justify-content: space-between;
				flex: auto;
				.breadcrumb-back{
					.material-icons{
						font-weight: $font-weight-bold;
						color: $black;
						font-size: 28px;
						line-height: 24px;
					}
					~ div{
						margin-left: -$getter * 1.5;
					}				
				}
				.breadcrumb-title{
					flex: auto;
					@include centerFlex;
					font-weight: $font-weight-bold;
					color: $black;

				}
			}
		}		
	}
}
.breadcrumb{
	.prepend-breadcrumb{
		position: absolute;
		right: $getter;
		display: flex;
		justify-content: center;
		align-items: center;
		.download-content,
		.share-content{
			.material-icons{
				font-weight: $font-weight-bold;
				color: $black;
			}
		}
	}
}
