

html,body{ 
	height: 100%;
}

// -main // main-blank // main-noheader
body.main-noheader,
body.main-blank,
body.-main{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	.wrapper{
		max-width: $pwa-max-width;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
}
// -main

// main-blank
body.main-blank #main{
	@include transform-translateY(50%);
}

// main-noheader