$thrubus-dark: #c4c4c4 !default;
$thrubus-dark2: #808080 !default;
$dark-1: #C4C4C4 !default;
$white-1 : #FBFBFB !default;
$white-2 : #f7f7f7 !default;
$divider-border-color : #d2d2d2;
$divider-color-1 : #d9d9d9;

// $base-bg-color          : 			#ffffff;
// $base-bg-color-2  : 				#f4f4f4;
// $base-bg-color-3  : 				#E5E5E5;
// $bg-color-primary-1  : 				#FFF8E4;
// $base-content-width 	:			600px;
// $base-bg-color-level-1  : 			lighten($base-bg-color,5%);


// $base-bg-color-hover    : 			#202124;
// $base-bg-color-active   : 			#202124;
// $base-bg-color-disabled   : 			#3a3b3e;
// $base-border-color      : 			#5e5e5e;

// $text-content-color : #696969;
// $text-label-color : #000000;
// $link-hover : $secondary;
// $link-color : $text-content-color;
// $divider-color : darken($base-bg-color,15%);
// $active-color : #5e5e5e;
// $focus-color : #5e5e5e;

// $bg-color-secondary : #5e5e5e;
// $bg-color-readonly : #5e5e5e;
// $bg-color-disabled : #5e5e5e;
