$thrubus-dark: #c4c4c4 !default;
$thrubus-dark2: #808080 !default;
$dark-1: #C4C4C4 !default;
$white-1 : #FBFBFB !default;
$white-2 : #f7f7f7 !default;
$divider-border-color : #d2d2d2;
$divider-color-1 : #d9d9d9;

