html {
	font-size: 16px;
	-webkit-tap-highlight-color: rgba($black, 0);
}

body {
	font-family: $font-family-inter;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $body-color;
	background-color: $body-bg;
}
body a,
body a:hover,
body li,
body ul{
	list-style: none;
	text-decoration: none;
}
body ol, body ul{
	margin: 0;
	padding: 0;
}
body a {
   outline: 0;
   color: $link-color;
   
   @include hover{
   	color: $secondary;
   }
}

.img-md{
	width: 100px;
	height: 100px;
	border-radius: $getter * 0.5;
}

// Paragraph 
p { 
	margin-bottom: $paragraph-margin-bottom;
}

.lead, p.lead {
	font-size: $lead-font-size;
	font-weight: $lead-font-weight;
}

// Headings 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}

// Font size and color according to Google Material 
h1, .h1 { font-size: $h1-font-size; font-weight: $h1-font-weight;}
h2, .h2 { font-size: $h2-font-size; font-weight: $h2-font-weight;}
h3, .h3 { font-size: $h3-font-size; font-weight: $h3-font-weight;}
h4, .h4 { font-size: $h4-font-size; font-weight: $h4-font-weight;}
h5, .h5 { font-size: $h5-font-size; font-weight: $h5-font-weight;}
h6, .h6 { font-size: $h6-font-size; font-weight: $h6-font-weight;}

