.relative{
	position: relative !important;
}

.absolute{
	position: absolute !important;
}

.pointer, .hover{
	cursor: pointer !important;
}
.none,.hidden,.hide{
	display: none !important;
}
.text-black{
	color: $black !important;
}
.strong,
.bold{
	font-weight: $font-weight-bold;
	.material-icons{
		font-weight: $font-weight-bold;
	}
}

.centerXY{
}
.centerY{
}

.text-label{
}
.text-content{}

.visually-hidden, 
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important
}

.input-text-readonly{
}
.no-select-text,.user-select-none{
	@include user-select-none();
}
.readonly-white{

}  
.pointer-events-none{
	pointer-events: none;
}
.center-y{
}
.center-xy{
}

@each $value in $listPosition {
	.bd-#{$value}{
		border-#{$value} : 1px solid #eaeaea;
	}
}

@for $i from 0 through 10 {
	.opacity-#{$i}{
		opacity: $i;
	}
}

@for $i from 1 through 10 {
	.shadow--dp#{$i}{
		@include BoxShadow($i);
	}
}
@for $i from 1 through 24 {

    @if $i % 2 == 0 {
    	.border-r#{$i}{
    		@include border-radius($i + 0px);
    	}
    	.border-topr#{$i}{
    		@include border-top-radius($i + 0px);
    	}
    	.border-bottomr#{$i}{
    		@include border-bottom-radius($i + 0px);
    	}
    	.border-leftr#{$i}{
    		@include border-left-radius($i + 0px);
    	}
    	.border-rightr#{$i}{
    		@include border-right-radius($i + 0px);
    	}    	 	  	
    }
}

@for $i from 8 through 40 {
	.f#{$i}{
		font-size: $i + px !important;
	}
}