@use "sass:math";

body.-test-bootstrap .wrapper .sidebar-test-bootstrap {

    ul.sidebar-nav {
        height: 100vh;
        background-color: $sidebar-background;
        color: tint-color($sidebar-background, 65%);
        padding-top: $sidebar-search-height + $sidebar-navbar-brand-height;
        position: relative;
        flex-wrap: nowrap;
        @include scrollY();
        li.nav-item {
            .nav-link {
                border-bottom: $sidebar-border-width solid $sidebar-nav-link-border-color;
                color: $sidebar-nav-link-color;
                @include center0Flex();
                padding-top: $getter;
                padding-bottom: $getter;
                .material-icons {
                    padding-right: 8px;
                }
                // .spacer-nav,.nav-text{}
                // &[data-toggle="collapse"]{ }
                &:not([data-toggle="collapse"]){
                    .material-icons {
                        font-size: 18px;
                    }
                }
                @include hover-focus() {
                    background-color: $sidebar-nav-item-hover;
                }
            }
            &.nav-item-collapse {
                .nav-link {
                    padding-left: $getter * 1.5;
                }
            }
            &.active {
                .nav-link[data-toggle="collapse"] {
                    background-color: $sidebar-nav-item-active;
                    color: color-yiq($sidebar-background);
                }
            }
            &.current {
                background-color: $sidebar-nav-item-current;
                @include BoxShadow(2);
                .nav-link {
                    color: color-yiq($sidebar-background);
                }
            }
        }
    }
}
