$sidebar-width: 250px !default;
$sidebar-transition: cubic-bezier(0.55, 0, 0.1, 1) !default;
$navbar-height: 60px !default;
$sidebar-background : #373737 !default;
$sidebar-transition-background-color: background-color 0.15s ease-in-out;